.projectIcon img {
  animation: infiniteRotation 10s infinite alternate;
}

@keyframes infiniteRotation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  overflow-x: hidden;
}

/*----------screenshots Carousel---------*/

section .screenshots {
  background: url('../../images/Abract01.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  background-size: 65%;
}

section .screenshots-post .screenshots-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
}

section .screenshots-post .screenshots-content img {
  border-radius: .5rem;
  max-height: 60vh;
}

section .container .owl-nav {
  position: absolute;
  top: 0%;
  margin: 0 auto;
  width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev, .owl-nav .owl-next .owl-nav-next {
  font-size: 1.3rem;
}

/*-------X--screenshots Carousel----X----*/

/*------------Comment Form---------------*/

.form-section {
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  margin-top: 1rem;
}

.comment-form {
  background: #fff;
  margin-top: 1rem;
  /* margin-bottom: 5%; */
  /* width: 70%; */
}

.comment-form .form-control {
  border-radius: .3rem;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 1rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}

.comment-form form {
  padding: 14%;
}

.comment-form form .row {
  margin-bottom: -7%;
}

.comment-form .title {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0072ff;
}

.comment-form .title h3 {
  font-weight: bold;
}

.comment-form .btnContact {
  width: 50%;
  border: none;
  border-radius: .5rem;
  padding: 1.5%;
  background: #ffff;
  font-weight: 600;
  color: #0062cc;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
}

/*-------X--Comment Form----X----*/